body {
    margin: 0;
    padding: 0;
}

header {
    padding: 5rem 20%;
    background: #E59E1F;
}

input {
    width: 70%;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0 1%;
}

button {
    width: 20%;
    height: 2.8rem;
    background: #1C1C1C;
    border: none;
    color: azure;
    margin-left: -0.3rem;
}

#back {
    color: #1C1C1C;
    background: #E59E1F;
    margin-left: 2.5rem;
}

main {
    background: #1C1C1C;
    padding: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

figure {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 33rem;
    background: azure;
}

.favouriteItem {
    display: block;
    position: absolute;
    margin-left: 14rem;
    margin-top: 1rem;
    background-color: azure;
    color: rgb(155, 155, 155);
    font-size: 2.5rem;
    text-align: center;
    width: 2.5rem;
    padding: 0.5rem;
    cursor: pointer;
}
.favYellow {
    color: rgb(229, 158, 31);
}
figcaption {
    padding: 5%;
}

h1, h2, p, a, div {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h2 {
    color: #1C1C1C;
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

a:hover {
    color: #E59E1F;
    cursor: pointer;
}

.show {
    flex-direction: row;
    width: 50rem;
    height: 25rem;
    background: none;
}

.show > figcaption {
    background: azure;
    width: 25rem;
}

span, h1 {
    color: #E59E1F;
}

.main {
    display: none;
    background: #1C1C1C;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10%;
}

.showItem{
    margin-left: 45rem;
    background: #1C1C1C;
}

.container {
    background: #1C1C1C;
    padding-top: 2rem;
}

.block {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.error {
    color: azure;
    font-size: 3rem;
    margin-right: auto;
    margin-left: auto;
}

/* #favourite {
    display: flex;
    justify-content: center;
    background: azure;
    color: #E59E1F;
    margin-left: auto;
    margin-right: auto;
}

.favouriteList {
    display: none;
} */